*{
	margin: 0;
	padding: 0;
	font-family: "Helvetica";
}

#outer{
	width: 1920px;
	height: 4000px;
	background-color: white;
	margin: 0 auto;

}
/* header */
.header{
	width: 1920px;
	height: 260px;
	background-color: white;
}
#header-top {
	width: 1920px;
	height: 4px;
	background: #252525;
}

/* menu */
#menu{
	width: 1920px;
	height: 90px;
	border-top: solid 0.5px #252525;
	border-bottom: solid 7px #252525;
	font-size: 25px;
}
#menu ul li
{
	list-style: none;
	float: left;
	margin-left: 80px;
}
#menu ul li a{
	color: #252525;
	display: block;
	text-decoration: none;
	line-height: 90px;
	padding: 0px 50px 0 40px;
}
#menu ul li a:hover {
	color:  #d68843;
	
}
#menu img
{
	float: right;
	margin-right: 108px;
	padding: 28px 0px 0px 0px;
	
}

/* ava,cover */
.ava
{
	width: 1920px;
	height: 1200px;
	background: white;
}
#cover{
	width: 1920px;
	height: 900px;
	background:radial-gradient(white,silver)
}
.cover-1
{
	width: 1704px;
	height: 654px;
	background: white;
	float: left;
	position: relative; top:120px; left: 110px;
}
.cover-1
{
	font-family: 'Geometr212 BkCn BT';
	font-size: 45px;
}
.back
{
	width: 1920px;
	height: 70px;
	background-color: white;
	float: left;
	text-align: center;
}
#back1
{
	width: 435px;
	height: 540px;
	background-color: white;
	float: left;
	position: relative;
	top: -450px; left: 192px;
	box-shadow: 0px 0px 20px silver;
}
#back1 .back1-1
{
	width: 435px;
	height: 170px;
	background-color: #252525;
	position: relative;
	top: -230px; left: 0px;
	opacity: 0.8;
}
#back1 .back1-1 a
{
	color: white;
	text-decoration: none;
}
#back1 .back1-1:hover
{
	background-color: black;
}
#back1 .back1-1 p:hover
{
	color:#d68843;
}
#back2
{
	width: 435px;
	height: 540px;
	background-color: white;
	float: left;
	position: relative;
	top: -450px; left: 305px;
	box-shadow: 0px 0px 20px silver;
}
#back2 .back2-1
{
	width: 436px;
	height: 170px;
	background-color: #252525;
	position: relative;
	top: -230px; left: 0px;
	opacity: 0.8;
}
#back2 .back2-1 a
{
	color: white;
	text-decoration: none;
}
#back2 .back2-1:hover
{
	background-color: black;
}
#back2 .back2-1 p:hover
{
	color:#d68843;
}
#back3
{
	width: 435px;
	height: 540px;
	background-color: #4F4F4F;
	float: right;
	position: relative;
	top: -450px; left: -192px;
	box-shadow: 0px 0px 20px silver;
}
#back3 .back3-1
{
	width: 435px;
	height: 170px;
	background-color: #252525;
	position: relative;
	top: -230px; left: 0px;
	opacity: 0.8;
}
#back3 .back3-1 a
{
	color: white;
	text-decoration: none;
}
#back3 .back3-1:hover
{
	background-color: black;
}
#back3 .back3-1 p:hover
{
	color:#d68843;
}
/* content */
#content{
	width: 1536px;
	height: 1950px;
	margin-top: -30px;
	margin-left: 192px;
}
#content-1{
	width: 1536px;
	height: 720px;
	background: #AF3F41;
}
#content-2
{
	width: 1536px;
	height: 720px;
}
#content-2
.content-left{
	width: 768px;
	height: 720px;
	background-color: antiquewhite;
	float:left;
}
#content-2
.content-right{
	width: 768px;
	height: 720px;
	background-color: red;
	opacity: 0.9;
	float: right;
}
#content-3
{
	width: 1536px;
	height: 150px;
	background-color: #252525;
	clear: both;
}
#content-3 p
{
	font-size: 35px;
	color: #d68843;
	text-align: center;
	position: relative;
	top: 35px;
}
/* bottom */
#bottom{
	width: 1920px;
	height: 670px;
	background-color: #222222;
	margin-top: 52px;
}
#bottom-left{
	width: 520px;
	height: 590px;
	float: left;
}
#bottom-content{
	width: 900px;
	height: 590px;
	float: left;
}

*{
	 box-sizing: border-box;
}
#bottom-right{
	width: 500px;
	height: 590px;
	float: left;
}
#bottom-right #quicklinks ul
{
	list-style: none;	
	font-size: 20px;
}
#bottom-right #quicklinks ul li a
{
	text-decoration: none;
	display: inline-block;
	color: white;
	padding: 24px;
}
#bottom-right #quicklinks ul li a:hover
{
	color: #d68843;
}

#bottom .top-bottom p 
{
	color: white;
	position: relative;
	top: 30px;
}
